---
import "../styles/patterns.css";
interface Props {
  title: string;
  img1: string;
  img2: string;
  img3: string;
  img4: string;
  bg: string;
  patternNumber: string;
  poab?: boolean;
  reverse?: boolean;
  color: string;
  aos?: string;
}

const {
  img1,
  img2,
  img3,
  img4,
  title,
  bg,
  color,
  patternNumber,
  poab,
  reverse,
  aos,
} = Astro.props;

const order2 = reverse ? "order: 2" : "order: 1";
const order1 = reverse ? "order: 1" : "order: 2";
const rotate = reverse
  ? "transform: rotate(20deg)"
  : "transform: rotate(-20deg)";
---

<article style={{ backgroundColor: bg }}>
  <div class="product-grid">
    <div style={order2} class={`item-container magicpattern${patternNumber}`}>
      <img
        data-aos-offset="200"
        data-aos={aos}
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        style={rotate}
        src={img1}
        alt="bag of coffee beans"
      />
    </div>
    <div style={order1} class="description">
      {
        poab && (
          <span
            data-aos-offset="200"
            data-aos={aos}
            data-aos-duration="1000"
            data-aos-easing="ease-in-out"
            style={{ color: `oklch(from ${bg} calc(1 - 0.3) c h )` }}
          >
            poab&#180;s
          </span>
        )
      }
      <h3
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        data-aos-offset="300"
        data-aos={aos}
        style={{ color: color }}
      >
        {title}
      </h3>
      <p
        data-aos-offset="300"
        data-aos={aos}
        data-aos-duration="1000"
        data-aos-easing="ease-in-out"
        style={{ color: `oklch(from ${color} calc(1 - 0.7) c h )` }}
      >
        <slot />
      </p>
    </div>
  </div>
</article>

<style>
  article {
    /* -webkit-mask: var(--mask-edge-drip-top); */
  }

  .product-grid {
    padding-block: 5rem;
    /* margin-block: 10rem; */
    /* outline: 2px solid black; */
    width: min(100% - 3rem, 1260px);
    margin-inline: auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    min-height: 600px;
    align-items: center;
  }
  /* .product-grid div:nth-child(1) {
    border: 1px solid white;
    grid-column: 2 / -1;
  }
  .product-grid div:nth-child(2) {
    border: 1px solid rgb(50, 236, 4);
    grid-column: 1 / 2;
  } */
  img {
    /* position: absolute; */
    margin: auto;
    /* maybe pervent instead of vw */
    width: 80vw;
    aspect-ratio: 1;
    object-fit: contain;
  }

  img.rotate {
    transform: rotate(22deg);
  }
  .description {
    padding-inline: 1rem;
    padding-block: 1rem;
    /* color: var(--color-5); */
    order: 1;
  }
  span {
    display: block;
    font-size: 1.5rem;
    font-size: var(--size-fluid-2);

    color: black;
    margin-block-end: -0.25rem;
  }
  h3 {
    font-size: 3rem;
    font-size: var(--size-fluid-4);
    font-weight: 900;
    /* text-align: center; */
    margin-bottom: 1rem;
    color: var(--color-3);
    text-transform: uppercase;
    /* font-family: Didot, "Bodoni MT", "Noto Serif Display", "URW Palladio L",
      P052, Sylfaen, serif; */
  }
  p {
    font-family: "JakobHand";
    /* font-family: Bahnschrift, "DIN Alternate", "Franklin Gothic Medium",
      "Nimbus Sans Narrow", sans-serif-condensed, sans-serif; */
    /* color: black; */
    font-size: 2.5rem;
    line-height: 1.25;
  }

  .item-container {
    position: relative;
    order: 2;
    /* background-color: var(--color-5); */
    width: 100%;
    /* height: 100%; */
    border-radius: var(--radius-drawn-1);
    /* display: flex;
    align-items: center; */
  }
  .order1 {
    order: 1;
  }
  .order2 {
    order: 2;
  }
  @media (min-width: 768px) {
    .product-grid {
      grid-template-columns: 1fr 1fr;
    }
    .item-container {
      height: 100%;
    }
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      inset: 0;
      /* transform: rotate(20deg); */
    }
  }
</style>
